$primary: #c02929;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$enable-grid-classes: false;
$enable-cssgrid: true;

@import "bootstrap/scss/bootstrap";

/* Size things to allow the virtual scroll container to determine its own size */
html,
body {
	height: fit-content;
	margin: 0;
}

/* Align Material Design Icons with text */
svg {
	vertical-align: -0.125em;
}

/* Add a user-select utility */
$utilities: (
	"user-select": (
		property: "user-select",
		values: none,
	),
);

@import "./navbar.scss";
@import "./player.scss";
